# Python
__pycache__/
*.pyc

# Virtual Env
.venv/
venv/

# Build
dist/
build/
*.spec
releases/

# VS Code
.vscode/

# Logs
logs/*.log

# Local config and real backup samples
config.json
config/config.json
IED-DES/
IED-ATU/
IED-HIS/

# Windows
Thumbs.db
Desktop.ini
